﻿body {
    height: 100%;
}

#header {
    background-color: rgb(120, 120, 120);
    width: 100%;
    height: 180px;
}

#user {
    font-size: 25px;
    padding-top: 90px;
    margin-left: 10%;
}

#menu {
    width: 290px;
    height: 500px;
    background-color: aqua;
    float: left;
}

#list {
    list-style-type: none;
    padding-top: 50px;
    margin-left: 10px;
}

#user_form {
    width: 100%;
    height: 500px;
    background-color: brown;
    padding-top: 30px;
}

#exp {

}

#exp2 {
    width: 100%;
}

#exp3 {
    padding-top: 10px;
}

#save_btn {
    margin-left: 2%;
    width: 100px;
}

#cancel_btn {
   width: 100px;
}

