﻿body {
    height: 100%;
}

#header {
    background-color: rgb(120, 120, 120);
    width: 100%;
    height: 180px;
}

#user {
    font-size: 25px;
    padding-top: 90px;
    margin-left: 10%;
}

#menu {
    width: 100%;
    height: 50px;
    background-color: aqua;
    float: left;
}

#list {
    display: inline;
    padding-top: 50px;
    margin-left: -10px;
}

#user_form {
    width: 100%;
    height: 500px;
    background-color: brown;
}

#table1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#add_img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

#opt111 {
    width: 120px;
    height: 40px;
    margin-left: 20px;
    margin-top: 5px;
}

#searchdiv {
    width: 50%;
    margin-left: auto;
    margin-top: -40px;
    margin-right: 34px;
}

#edit_ {
    margin-top: 5px;
    margin-left: 10px;
}

#delete {
    margin-top: 5px;    
}