﻿body {
    height: 1500px;
}

#login {
    background-color: rgb(150, 150, 150);
    width: 50%;
    height: 400px;
    margin-left: 25%;
    margin-top: 200px;
}

#box {
    width: 50%;
    height: 400px;
}

#user {
    width: 80%;
    margin-top: 140px;
    margin-left: 10%;
    border-radius: 7px;
    padding-left: 8px;
    height: 36px;
}

#pass {
    width: 80%;
    margin-top: 10px;
    margin-left: 10%;
    border-radius: 7px;
    padding-left: 8px;
    height: 36px;
}

#login_btn {
    width: 60%;
    margin-top: 10px;
    margin-left: 10%;
}

#status {
    width: 80%;
    margin-top: 10px;
    margin-left: 10%;
    border-radius: 7px;
    padding-left: 8px;
    height: 36px;
}

#content {
    width: 90%;
    height: 800px;
    background-color: rgb(110, 110, 110);
    margin-left: 5%;
}

